{% extends 'base.html' %}
{% block content %}

    <h1>Book List</h1>

    {% for book in book_list%}
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author }}</p>

        {% if book.image %}
            <img src="{{book.image}}">
            {% else %}
            <div style="width:200px; height:300px; background-color:rgb(214, 214, 214); text-align: center; padding-top: 40px"><p>{{ book.title }}</p> by {{ book.author}}</div>
        {% endif %}
        <p>{{ book.desc }}</p>
        <p>{% if 'meeting' in request %}</p>
        <p>meeting!</p>
        {% end %}
        <!-- <form action="vote/" method="POST"> -->
            <input type="submit" value="Vote for this book" class="btn">
        <!-- </form>  -->

    {% endfor%}

{% endblock%}