{% extends 'base.html' %}
{% block content %}

<h1>Add comment</h1>
<form action="" method="POST">
    {% csrf_token %}
    <input type="textarea" name="comment">
    <select name="disc_type">
        <option value="comment">Comment</option>
        <option value="question">Discussion Question</option>
        <option value="quote">Quote</option>
    </select>
    <input type="hidden" name="meeting" value="{{ meeting }}">
    <input type="hidden" name="user" value="{{ user }}">
    <input type="submit" value="Add comment" class="btn">
</form>

<script>
$('.dropdown-trigger').dropdown();
</script>

{% endblock%}