<h2>Search by ISBN:</h2>
<form action="">
    <input type="number" name="isbn">
    <input type="submit" value="Search" class="btn">
</form>
<hr>
<h2>Search by Title or Author:</h2>
<form action="">
    <p>Title:<input label="Title:" type="text" name="search_title"></p>
    <p>Author:<input label="Author:" type="text" name="search_author"></p>
    <input type="submit" value="Search" class="btn">
</form>


{% if book %}
    {% if book.error %}
        <p>{{ book.error }}</p>
    {% else %}    
        <h1>{{ book.title }}</h1>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Author: {{ book.author }}</p>
        {% if book.image_link %}
            <img src="{{book.image_link}}">
        {% else %}
            <div style="width:200px; height:300px; background-color:rgb(214, 214, 214); text-align: center; padding-top: 40px"><p>{{ book.title }}</p> by {{ book.author}}</div> -->
        {% endif %}
        <p>
            <form action="" method="POST">
            <input type="hidden" name="title" value="book.title">
            <input type="hidden" name="isbn" value="book.isbn">
            <input type="hidden" name="author" value="book.author">
            <input type="hidden" name="image_link" value="book.image_link">
            <input type="submit" value="Add to Recommendations" class="btn" name="add_to_rec">
            </form>
        </p>
    {% endif %}
{% endif %}

