body {
    font-family: 'Lato', sans-serif;
}

.nav-wrapper {
    background-color: #007576;
    font-weight: 800;
}

.logo {
    font-size: 32px; 
}

.sidenav li > a{
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

