body {
    font-family: 'Lato', sans-serif;
}

.nav-wrapper {
    background-color: #007576;
    font-weight: 800;
}

.logo {
    font-size: 32px; 
}

.sidenav li > a{
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color:  #6DA5A9;
}

.vertical-align-middle { 
    vertical-align: bottom; 
    display: flex;
    justify-content: center;
}

.vertical-align-right { 
    vertical-align: bottom; 
    display: flex;
    justify-content: right;
}
