{% extends 'base.html' %}
{% block content %}

{% if user.first_name %}
    <h4>{{user.first_name}}'s Account</h4>
{% else %}
    <h4 class="center-align">My Account</h4>
{% endif %}
        <div class="center-align">
            <h6>Username: {{user.username}} 
            </h6>
        </div>
        <hr>
        <div class="center-align">
            <h6>Email: </span>{{user.email}} </span>
            </h6>
        </div>
        <hr>
        <div class="center-align">
            <a href="{% url 'index' %}" class="card-content"><h6>My Book Clubs ></h6></a>
        </div>
        <hr>
        <div class="center-align">
            <h6>Books I want to read </span>></span>
            </h6>
        </div>
        <hr>
        <div class="row">
            <div class="col s8">
                <a href="{% url 'password_reset' %}"><div class="btn">Change Password</div></a>
            </div>
            <div class="col s4">
                <a href="{% url 'logout' %}"><div class="btn">Logout</div></a>
            </div>
            
        </div>
       




{% endblock%}