{% extends 'base.html' %}
{% block content %}


<h1>Club List</h1>


<div class="row">
    <div class="col s6">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ club.club_name }}</span>
            <p>Members: {{ club.member }}</p>
            <p>Meetings: {{ club_name.meeting }}</p>
            <p>Recommendations: {{ club.rec }}</p>
        </div>
    </div>
    <div class="card-action">
        <a href="{% url 'cats_update' cat.id %}">Edit</a>
        <a href="{% url 'cats_delete' cat.id %}">Delete</a>
      </div>
  

{% endblock %}