{% extends 'base.html' %}
{% block content %}



<h3>My Book Clubs</h3>

<div class="row">

 <div class="col s8" >
    {% for club in clubs %}
    <a href="{% url 'club' club.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ club.club_name}}</span>
            <p>Meetings: {{ meeting.date }}</p>
            <p class="valign-wrapper"><i class="material-icons">group</i> Members: {{ club.members.count }} <i class="material-icons">keyboard_arrow_right</i></p>
            <p class="right-align"><input type="submit" class="btn" value="->"></p>
            
        </div>
    
    </div>
    </a>
    {% endfor %}
  </a>


<h2>Account Created</h2>

 </div>

 <div class="col s4" class="valign-wrapper" >
  <a href="{% url 'clubs_create' %}" >Create a Book Club</a>
  <p class="center-align">Or</p>
  <a href="{% url 'index' %}" >Join a Book Club</a>
  
 <br>
 <br>
 <br>

  <form action="" class="left-align">
    Invite Code:
    <input type="text" name="invite_code" label="Invite Code">
    <input type="submit" class="btn" value="->">
  </form>
 </div>



</div>

{% endblock %}