{% extends 'base.html' %}
{% block content %}


<h1>Club List</h1>


 
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ club.club_name }}</span>
            <p>Members: {{ club.member }}</p>
            <p>Meetings: {{ club_name.meeting }}</p>
            <p>Recommendations: {{ club.rec }}</p>
        </div>
    </div>
  



<h2>Account Created</h2>

<!-- checkmark image -->

<h3>Get Started</h3>
<h3>Create a Book Club</h3>
<p>or</p>
<p>Join a Book Club</p>

<form action="">
    Invite Code:
    <input type="text" name="invite_code" label="Invite Code">
    <input type="submit" class="btn" value="->">
</form>


{% endblock %}