{% extends 'base.html' %}
{% block content %}



<h4 class="center-align" style="font-weight:700">My Book Clubs</h4>
<hr>

<div class="row">

    <div class="col s12">
        {% for club in clubs %}
        <a href="{% url 'club' club.id %}">
            <div class="card-content">
                <h6 style="font-weight:700">{{ club.club_name}}</h6>
                <p>Next Meeting: {{ meeting.date }}</p>
                <p class="valign-wrapper"><i class="material-icons">group</i> Members: {{ club.members.count }}</p>
            </div>
        </a>
        <hr />
        {% endfor %}
    </div>
    <div class="col s12" >
        <a href="{% url 'clubs_create' %}"><h5 class="vertical-align-middle">Create a Book Club <i class="material-icons">add_circle_outline</i></h5></a>
        <p class="center-align">Or</p>
    </div>
    <div class="col s12">
        <form action="/invitecode/" method="POST" class="vertical-align-middle input-field">
            {% csrf_token %}
            <label for="invite_code">Enter an invite code</label>
            <input placeholder="Invite Code" type="text" id="invite_code" name="invite_code">
            <button type="submit" class="btn"><i class="material-icons">arrow_forward</i></a>
        </form>
    </div>
    
 


</div>

{% endblock %}