{% extends 'base.html' %}
{% block content %}


<div> 
    <h5 class="center-align" style="font-weight:700">{{ club.club_name }}</h5>
    <p class="vertical-align-middle"><i class="material-icons">group</i> Members: {{ club.members.count }} <i class="material-icons">keyboard_arrow_right</i></p>
</div>
<hr/>
<div class="row">
    {% if book %}
    <div class="col s4"> <img src="{{ book.image }}" alt="Book Image" width="100%"></div>
    <div class="col s8">
        <h6>{{ book.title }} </h6>
        <p> by {{ book.author }}</p>
        Club Rating
        <br>
        {% for r in ratings.average %}
            {% if r == '*' %}
                <i class="material-icons">star</i>
            {% else %}
                <i class="material-icons">star_border</i>  
            {% endif %}
        {% endfor %}
        <br>
        Your rating
        <form action="{% url 'rate' club.id meeting.id %}" method="POST"> 
            {% csrf_token %}           
        {% for r in ratings.user %}
            {% if r == '*' %}
                <button type="submit" value="{{forloop.counter}}" name="rating" style="border:0; background-color:white; max-width:30px;"><i type="submit" class="material-icons hoverable">star</i>
            {% else %}
                <button type="submit" value="{{forloop.counter}}" name="rating" style="border:0; background-color:white; max-width:30px;"><i class="material-icons hoverable">star_border</i></button>
            {% endif %}
        {% endfor %}
        </form>
    </div>
    {% else %}
    <div class="center-align">
    <a href="{% url 'addrecc' club.id meeting.id %}" class="btn">Add a book<i class="material-icons right">keyboard_arrow_right</i></a>
    </div>
    <hr>
    {% endif %}
</div>
<p> {{ book.desc }} </p>
<div class="center-align">
    <a href="{% url 'discussion' club.id meeting.id %}" class="btn">Disscussion <i class="material-icons right">keyboard_arrow_right</i></a>
</div>
<hr/>
<h6 class="center-align">Upcoming Meeting</h6>
<hr/>
<p>Date and Time: {{ meeting.date }}</p>
<p>Meeting Locations: {{ meeting.location }} </p>
<p>Meeting Link: {{ meeting.meeting_link }}</p>
<p>Agenda: {{ meeting.chapters }}</p>
<p class="valign-wrapper"><i class="material-icons">add_circle_outline</i><a href="{% url 'meeting_update' club.id meeting.id %}" >Edit meeting details</a></p>
<hr/>
<h6 class="center-align">Book Suggestions</h6>
<hr>
<div class="center-align">
    <a href="{% url 'selectbook' club.id meeting.id %}" class="btn">Recommend a Book</a>
</div>


<p class="vertical-align-right"><a href="{% url 'addrecc' club.id meeting.id %}">View All</a><i class="material-icons">keyboard_arrow_right</i></p>

<hr/>
<h6> Invite code: {{ club.invite }}</h6>





{% endblock %}